<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet"  href="{{ asset('css/style.css') }}">
        <link rel="stylesheet"  href="{{ asset('css/bootstrap.min.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {# logo et menu #}
            <nav>
                <a href="{{ path('home') }}">Accueil</a>
                <a href="{{ path('bonjour') }}">Photos</a>

        </header>
        {% block body %}{% endblock %}

        <footer>

        </footer>

        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            {#requete ajax#}
        </script>
    </body>
</html>
